@import url(../varabiles.css);
@import url(../header/header-style.css);
@import url(../card/card-style.css);
@import url(../catalogue_of_paper/catalogue\ of\ paper-style.css);
@import url(../footer/footer-styles.css);
@import url(../paper-baner/paper-baner-style.css);
@import url(../categoriy-bar/category-bar.css);
@import url(../nimadir/nimadir-style.css);


.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.row1 .paperBaner{
    margin-left: 30px;
}

.row1 .catalogue-paper{
    margin-right: 30px;
}


@media only screen and (max-width: 1366px){

    .row1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row1 .catalogue-paper{
        margin-top: 1em;
    }
}


@media only screen and (min-width: 1366px){
    .row1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row1 .paperBaner{
        margin-right: 30px;
    }
}

