
.card{
height: 443px;
width: 410px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
margin: 1em;
}

.nameCategoriy{
    position:relative;
    width: 97px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    top: 75%;
    left: 68%;
    right: 5%;
    background-color: #FFFFFF;
    color: #2680EB;
    
}

.card-img{
    width: 100%px;
    height: 250px;
    background-image: url('https://c.files.bbci.co.uk/4B45/production/_117796291_gettyimages-962098266.jpg');
    background-repeat: no-repeat;
    background-size: 100% 250px;

}

.card-img img{
    width: 100%;
    height: 100%;
}

.card-title{
    height: 40px;
    overflow: hidden;
    line-height: 20.15px;
}

.card-text{
    height: 68px;
    overflow: hidden;
}



.card-title,.card-text , .card-date {
    width: 80%;
    margin: 1em 0 0 2em;
    padding-bottom: 2px;
}

.card-text a{
    display: none;
}

@media only screen and (max-width: 768px) {
    .card {
       width: 90%;
       height:523px;
       padding-bottom: 2em;
            
    }

    .card-img{
        width: 100%;
    }
}