@import url(../varabiles.css);
@import url(../componentsStyle/header.css);
@import url(../componentsStyle/card.css);
@import url(../componentsStyle/shortNewsCard.css);
@import url(../componentsStyle/footer.css);
@import url(../componentsStyle/paperBaner.css);
@import url(../componentsStyle/categoryPageTitle.css);
@import url(../componentsStyle/getMoreBtn.css);


.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row1{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.row1 .paperBaner{
    margin-left: 30px;
}

.row1 .catalogue-paper{
    margin-right: 30px;
}


@media only screen and (max-width: 1366px){

    .row1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row1 .catalogue-paper{
        margin-top: 1em;
    }
}


@media only screen and (min-width: 1366px){
    .row1{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .row1 .paperBaner{
        margin-right: 30px;
    }
}

