@import url(../varabiles.css);
@import url(../header/header-style.css);
@import url(../categoriy-bar/category-bar.css);
@import url(../paper/paper-style.css);
@import url(../catalogue_of_paper/catalogue\ of\ paper-style.css);
@import url(../footer/footer-styles.css);

main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.row{
    display: flex;
    position: relative;
    width: 90%;
    left: 5%;
}

.row .catalogue-paper{
    margin-left: 30px;
}

.paper-text a{
    display: none;
}

@media only screen and (max-width: 1360px){
    .row {
        display: block;
    }

    .row .catalogue-paper{
        margin-top: 30px;
    }
}