@import url(../varabiles.css);

.leftSectionUl,.rightSectionUl{
    display: flex;
    /* list-style: none; */
}

.left{
    margin-left: 30px;
}

.header-main{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;

}

.header-style{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}

.left ,.right{
    display: flex;
    align-items: center;
}

.left-main ul{
    display: flex;
}

.leftSectionUl li  ,.rectangle{
    margin: var(--pane-margin);
}


.leftSectionUl li :hover{
    color: var(--main-color);
}

.language:first-child a{
    color: var(--main-color);
}

.telephoneNumber a{ 
    color: var(--main-color);
    margin-right: 1em; ;
    
}

.language a:hover{
    color: var(--main-color);
}

.language~.language{
    margin-left: 5px;
}

.hamburger{
    display: none;
    font-size:xx-large;
    margin: var(--pane-margin);
}

 
.activ{
    display: block;
    animation-name: example;
    animation-duration: 1s;
}


@keyframes example {
    from {opacity: 0;}
    to {opacity: 100;}
  }



@media only screen and (max-width: 768px) {

.hamburger{display: block;}

.left-main{
    display: none;
    position: absolute;
    width: 90%;
    top: 10%;
    font-size: xx-large;
    padding-bottom: 1em;
    border-bottom: solid 3px var(--main-color) ;
    animation-name: example;
    animation-duration: 2s;
}

.left-main .leftSectionUl{
    display: block;
}

.leftSectionUl li{
    margin: 0;
    margin-top: 1em;
}

.right{
    display: none;
    position: absolute;
    top: 45%;
    animation-name: example;
    animation-duration: 2s;
}

.rightSectionUl{
    display: block;
}

.rightSectionUl .language, .telephoneNumber{
    font-size: xx-large;
     margin: 1em 0 0 1em
}



.slash,.rectangle{
    display: none;
}

}

@media only screen and (min-width: 1366px){
    .header-main{
        width: 1366px;
        display: flex;
        justify-content: space-between;
    }

    .header-style{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (max-width: 1366px){
 
     .header-main{
         width: 100%;
         justify-content: space-between;
     }

     .header-style{
         width: 100%;
     }


}