@import url(../varabiles.css);


.author-card{
    width: 410px;
    height: 443px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
}

.author-card-img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    top: 66px;
    left: 155px;
}

.author-card-name{
position: relative;
display: flex;
justify-content: center;
height: 21px;
width: 100%;
top: 96px;
text-align: center;
}

.author-card-text{
position: relative;    
height: 68px;
width: 90%;
top: 110px;
left: 5%;
font-size: 14px;
font-weight: 400;
text-align: center;
}

.author-card-socialPageLinks{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    top: 172.1px;
}

.author-card-links{
    margin: var(--pane-margin);
}

.author-card-links :hover{
    color: var(--main-color)
}